<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI_QLBanHang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
  <add name="connectionString" connectionString="Data Source=khang\sqlexpress;database=SOF2051_QLBanHang1;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <GUI_QLBanHang.Properties.Settings>
   <setting name="Remember" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Session" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Email" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="Role" serializeAs="String">
    <value />
   </setting>
  </GUI_QLBanHang.Properties.Settings>
 </userSettings>
</configuration>